<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Админ Панель</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        /* Стили для формы загрузки файла */
        .upload-form {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f8f9fa;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .upload-form h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #007bff;
            font-size: 24px;
        }

        .upload-form input[type="file"] {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: 2px dashed #007bff;
            border-radius: 4px;
            background-color: #f8f9fa;
            color: #007bff;
            cursor: pointer;
        }

        .upload-form input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .upload-form input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>


</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Your Logo">
        </a>
        <h2 class="text-center">Панель администратора</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-2 sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link " href="#home" onclick="showContent('homeSection')">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#data-upload" onclick="showContent('dataUploadSection')">Загрузка
                            данных</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sorting" onclick="toggleSubMenu('sortingSubMenu')">Сортировка</a>
                        <ul class="sub-menu hidden" id="sortingSubMenu">
                            <li class="nav-item">
                                <a class="nav-link" href="#inventory-sort"
                                    onclick="showContent('inventorySortSection')">Сортировка на складе</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#status-change"
                                    onclick="showContent('statusChangeSection')">Изменение статуса</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#order-creation"
                                    onclick="showContent('orderCreationSection')">Создание заказа</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#order-payment" onclick="showContent('orderPaymentSection')">Оплата
                            заказа</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#user-management"
                            onclick="showContent('userManagementSection')">Упраление пользователями</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#statistics" onclick="showContent('statisticsSection')">Статистика</a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>


        <!-- Main Content -->
        <div class="col-lg-10 main-content" id="mainContent">
            <!-- Content for each section will go here -->
            <div id="homeSection" class="section-content">
                <h2>Home Content Goes Here</h2>
                <!-- Add form for Home section if needed -->
                <form>
                    <div class="form-group">
                        <label for="homeInput">Home Input:</label>
                        <input type="text" id="homeInput" name="homeInput" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div id="dataUploadSection" class="section-content hidden">

                <div class="upload-form">
                    <h1>Upload Excel File</h1>
                    <form method="post" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit" value="Upload">
                    </form>
                </div>
            </div>

            <div id="inventorySortSection" class="section-content hidden">
                <h2>Inventory Sort Content Goes Here</h2>
                <!-- Add form for Inventory Sort section if needed -->
                <form>
                    <div class="form-group">
                        <label for="inventorySortInput">Inventory Sort Input:</label>
                        <input type="text" id="inventorySortInput" name="inventorySortInput" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div id="statusChangeSection" class="section-content hidden">
                <h2>Status Change Content Goes Here</h2>
                <!-- Add form for Status Change section if needed -->
                <form>
                    <div class="form-group">
                        <label for="statusChangeInput">Status Change Input:</label>
                        <input type="text" id="statusChangeInput" name="statusChangeInput" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div id="orderCreationSection" class="section-content hidden">
                <h2>Order Creation Content Goes Here</h2>
                <!-- Add form for Order Creation section if needed -->
                <form>
                    <div class="form-group">
                        <label for="orderCreationInput">Order Creation Input:</label>
                        <input type="text" id="orderCreationInput" name="orderCreationInput" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div id="orderPaymentSection" class="section-content hidden">
                <h2>Order Payment Content Goes Here</h2>
                <!-- Add form for Order Payment section if needed -->
                <form>
                    <div class="form-group">
                        <label for="orderPaymentInput">Order Payment Input:</label>
                        <input type="text" id="orderPaymentInput" name="orderPaymentInput" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <!-- Admin Panel Section for User Management -->
            <div id="userManagementSection" class="section-content">
                <h2>Управление пользователями</h2>
                <form class="search-form" method="post" action="{{ url_for('search_user') }}">
                    <div class="form-group">
                        <label for="search_query">Поиск по имени и фамилии:</label>
                        <input type="text" id="search_query" name="search_query" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Искать</button>
                </form>
                <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>User ID</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>City</th>
                                <th>Contact ID</th>
                                <th>Phone Number</th>
                                <th>Extra Phone Number</th>
                                <th>Telegram Nickname</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in users.iterrows() %}
                                <tr>
                                    <td>{{ row['user_id'] }}</td>
                                    <td>{{ row['name'] }}</td>
                                    <td>{{ row['surname'] }}</td>
                                    <td>{{ row['city_name'] }}</td>
                                    <td>{{ row['contact_id'] }}</td>
                                    <td>{{ row['phone_num'] }}</td>
                                    <td>{{ row['extra_phone_num'] }}</td>
                                    <td>{{ row['tg_nickname'] }}</td>
                                    <td>{{ row['email'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            
                                  
            </div>
                <!-- Кнопка для скачивания Excel -->
                <a href="{{ url_for('download_excel') }}" class="btn btn-primary">Скачать Excel</a>
            </div>


            <div id="statisticsSection" class="section-content hidden">
                <h2>Statistics Content Goes Here</h2>
                <!-- Add form for Statistics section if needed -->
                <form>
                    <div class="form-group">
                        <label for="statisticsInput">Statistics Input:</label>
                        <input type="text" id="statisticsInput" name="statisticsInput" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <!-- Add other section divs here -->
        </div>

        <!-- Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>




</body>

</html>